body {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    padding: 0em;
    margin: 0em;
}

#title {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

#title>* {
    max-height: 5rem;
}

#title>img {
    float: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 6rem;
    max-height: 6rem;
}

#navigation_bar {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* 
    padding-top: 1rem;
    padding-bottom: 1rem;

    */

    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.navigation_bar_content {
    display: flex;
    align-items: center;
    padding: 1.0em 1.0em;

    border-right: 1px black solid;
}

.navigation_bar_content:first-child {
    border-left: 1px black solid;
}

.navigation_bar_content img {
    margin-right: 1rem;
}

.navigation_bar_content a {
    text-decoration: none;
    color: unset;
}

#home_content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;

}

#home_content>div {
    width: 90vw;
    text-align: left;
}