:root{
    --main-color:rgba(225, 234, 205, 1.0);
    --main-hover-bg-color: rgba(225, 234, 205, 0.3);
}

.italic{
    font-style: italic;
}
html {
    min-height: 100%;
}

body {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    margin: 0;
    padding: 0;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(225, 234, 205, 1.0);
}

#title>* {}

#title>img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 6rem;
    max-height: 6rem;

}

#navigation_bar {

    border-top: 1px black solid;
    border-bottom: 1px black solid;

    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

#navigation_bar>a {
    display: block;
    padding: 1em 1em;

    border-top: 1px black solid;
    border-bottom: 1px black solid;

    text-align: center;

    text-decoration: none;
    color: unset;
    
}
#navigation_bar>a:hover {
    background-color: var(--main-hover-bg-color);
}
#navigation_bar>a img {
    display: inline-block;
    padding: 0em 1em;
}

#main_content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

}

#main_content>div {
    width: 90%;
    text-align: left;
}
#sns > div {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(128px,1fr));

}
#sns > div > a {
    margin:1em auto ;
    padding: 1em;
    border: 5px solid black;
    border-radius: 10px;
}
#sns > div > a:hover {
    background-color: var(--main-hover-bg-color);
}
#sns div > a > img{
    margin: 0 auto;
    height: 80px;
}
#icons > div{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(256px,1fr));

}
#icons > div > div {
    margin: 5px;
}
#icons > div >div >img {
    max-width: 256px;
    max-height: 256px;
}


@media screen and (min-width:481px) {}

@media screen and (min-width:960px) {
    #title {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;

        background-color: rgba(225, 234, 205, 1.0);
    }

    #title>* {
        max-height: 5rem;
    }

    #title>img {
        float: left;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        max-width: 6rem;
        max-height: 6rem;
    }

    #navigation_bar {
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));

        border-top: 1px black solid;
        border-bottom: 1px black solid;
        align-content: stretch;

    }

    #navigation_bar>* {
        display: flex;
        justify-content: center;
        border: 1px black solid;

        box-sizing: border-box;
        padding: 1rem 2rem;
        white-space: nowrap;

    }

    #navigation_bar>div>*:first-child {
        margin-left: 0%;
    }



    #navigation_bar>*>img {
        margin-right: 10%;
    }

    #navigation_bar a {
        text-decoration: none;
        color: unset;
    }

    #main_content { 
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        margin: 0 auto;

    }

    #main_content>div {
        width: 90%;
        text-align: left;
    }
    #icons > div{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(256px,1fr));
    
    }
    #icons > div > div {
        margin: 5px;
    }
    #icons > div >div >img {
        max-width: 256px;
        max-height: 256px;
    }

}